{
	"trailingComma": "es5",
	"printWidth": 100,
	"tabWidth": 2,
	"singleQuote": true,
	"jsxSingleQuote": true,
	"useTabs": true,
	"plugins": ["@trivago/prettier-plugin-sort-imports"],
	"importOrder": ["<THIRD_PARTY_MODULES>", "^@components", "^@pages", "^@utils", "^[./]"],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
